<div class="chatlogs">
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">

  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Użytkownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/currencies" routerLinkActive="active">Kursy Walut</a>
      </li>
    </ul>
  </div>
</nav>

  <br>
  <router-outlet></router-outlet>

</div>
</div>
